.container {
  margin: 0 auto;
  margin-top: 5%;
  width: 1200px;
  border: 0px;
  position: relative;
}

.race_table td {
  background-color: white;
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

tr td:last-child {
  border-left: 5px solid black;
  background-color: red;
}

.race_table td.active {
  background-color: black;
}

#player1_track td.active {
  background-image: url('http://images.wikia.com/mariokart/images/f/f1/Yoshi_(Mario_Kart_Wii).jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 30px 30px;
}

h1 {
  border: 0;
  background: orange;
  text-align: center;
}

#player2_track td.active {
  background-image: url('http://3.bp.blogspot.com/_bVpyfkVa-OU/THbNJ52H8ZI/AAAAAAAAAD0/GyYUE8nk8oE/s400/luigi+on+dirt+bike.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 30px 30px;
}

#player3_track td.active {
  background-image: url('http://dsmedia.ign.com/ds/image/article/614/614266/mario-kart-ds-20050515002507767.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-size: 30px 30px;
}

#player-setup {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  height: 200px;
  border: 1px solid black;
}

#player-setup input {
  display: block;
  margin: 20px auto;
  margin-bottom: 20px;
  width: 400px;
}

.past_results {
  float: right;
  text-align: center;
  padding-bottom: 70px;
}

.past_results input {
  width: 150px;
  text-align: center;
}

a {
  padding-bottom: 50px;
}
