<form class='new-players' action="/new_game" method="post">
  <% if @game_error %>
    <p><%=@game_error %></p>
  <% end %>
  <input type="text" name="player1[name]" placeholder="Player 1 Name">
  <% if @errors1 %>
  <% @errors1.each do |error| %>
    <p>Player 1: <%=error%></p>
  <% end %>
  <% end %>
  <input type="text" name="player2[name]" placeholder="Player 2 Name">
  <% if @errors2 %>
    <% @errors2.each do |error| %>
      <p>Player 2: <%=error%></p>
    <% end %>
  <% end %>
  <input type="submit" name="photo" value="Start game!">
</form>

